@media (max-width: 720px) {
	* {
		-webkit-font-kerning: normal;
		letter-spacing: 0.1px;
	}
	
	/*Home Page*/
	.wrapper h2.sec-title {
		font-size: 26px;
	}
	
	.login-container .login {
        float: right;
        font-size: 11px;
        font-family: "Courgette",cursive;
        padding: 5px 0px;
        text-transform: uppercase;
    }
	
	.caring-content {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	.caring-content h2 {
		font-size: 26px;
	}

	.cp-home-welcome {
		padding: 40px 0;
	}
	
	.emergency-call h2 {
		font-size: 26px;
		padding: 10px 0 0 0;
	}	
	
	.emergency-call h4 {
		position: relative;
		z-index: 99;
		font-size: 17px;
		color: #fff;
		font-family: 'Courgette',cursive;
		margin: 0px;
	}	
	
	.emergency-call strong {
		font-size: 20px;
		font-family: 'Courgette',cursive;
		z-index: 99;
		font-weight: normal;
		margin-top: 20px;
	}
	.wrapper h1.sec-title, .wrapper h2.sec-title{
		font-size: 32px;
		margin: 0 10px;
		letter-spacing: 0;
	}
	.readmore-bg{
		margin: 0 0 20px;
	}
	.gap-80{
		padding: 40px 0;
	}
	.cp-our-staff{
		padding: 40px 0;
	}
	.cp-team-grid{
		padding: 0;
	}
	.f-readmore{
		margin: 0;
	}
	.logo-nav .logo{
		margin: 0;
	}
	.logo-nav .logo img{
		width: 150px;
	}
	
	.contact-form {
		width: 100%;
		float: left;
		background: #f9f9f9;
		border-radius: 6px;
		box-shadow: 0 0 4px rgba(0,0,0,.40);
		padding: 30px 20px;
	}	

	/*Details galery*/
	.gallery-thumb{
		margin: 0 0 10px;
	}

	/*For us*/
	.inner-page-content{
		padding: 40px 0;
	}
	.about-content h3{
		margin: 0 0 10px;
	}
	#collapseOne ol{
		padding-left: 20px;
	}

	/*Contact*/
	.inner-page-content{
		padding: 40px 0;
	}
	.contact-us h2{
		margin: 20px 0;
	}
}

@media (max-width: 720px) {
	.navbar-default .navbar-collapse{
		overflow: inherit;
		padding: 0 12px;
	}
	.logo-nav .navbar-default .navbar-nav .m4 .dropdown-menu{
		position: absolute;
	    left: -150px;
	    border-top: 1px solid #99c404;
	}
	.wrapper h3{
		font-size: 18px;
	}
}